[submodule "public"]
	path = public
	url = git@github.com:maartenbeeckmans/maartenbeeckmans.github.io.git
	branch = master
[submodule "themes/erblog"]
	path = themes/erblog
	url = https://github.com/ertuil/erblog
